#cards__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 280px 1fr 300px;
  grid-template-rows: 100%;
  grid-template-areas: 'leftSide main rightSide';
}

#cards__container .cards__main {
  width: 100%;
  height: 100%;
  grid-area: main;
  position: relative;
  overflow-y: scroll;
}

#cards__container .cards__main::-webkit-scrollbar {
  width: 10px;
  background-color: var(--gray);
  background-clip: padding-box;
  border-radius: 10px
}